@font-face {
  font-family: canopee;
  src: url(./font/Canopee.ttf);
}

@font-face {
  font-family: DomaineDispCondMedium;
  src: url(./font/DomaineDispCondMedium.ttf);
}

@font-face {
  font-family: EditorialNew-Light;
  src: url(./font/EditorialNew-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#page1 {
  /* height: 110vh; */
  /* width: 100vw; */
  z-index: 999;
  background: url(https://uploads-ssl.webflow.com/5f2429f172d117fcee10e819/614f353f1e11a6a7afdd8b74_6059a3e2b9ae6d2bd508685c_pt-texture-2.jpg);
  position: relative;
  overflow: hidden;


/* NavBar div start*/

#nav {
width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 1px solid black;

  & img {
    height: 30px;
    width: 30%;
  }

  & h5 {
    width: 30%;
    font-size: 20px;
    font-weight: 100;
  }

  & i {
    width: 30%;
    font-size: 18px;
    text-align: right;
  }
}

/* NavBar div end*/

/* elems dev start*/

#elems {
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;

  & #elem1 {
    width: 30%;
    height: 100%;

    & #image-div {
      height: 50%;
      width: 100%;
      overflow: hidden;
      border: 0.5px solid black;

      & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all ease 0.5s;
      }
    }

    & h4 {
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 10px;
      font-family: canopee;

      & span {
        background-color: #b73c12;
        border-radius: 5px;
        padding: 3px;
        color: #fff;
        font-size: 18px;
        font-weight: 100;
        margin-left: 10px;
      }
    }
    & p {
      font-family: EditorialNew-Light;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.1px;
      color: #595959;
    }
  }
  & #elem2 {
    width: 30%;
    height: 100%;
    border-right: 1px solid #595959;
    border-left: 1px solid #595959;
    text-align: center;
    padding: 10px 0px;

    & h2 {
      /* font-family: canopee;
      font-size: 70px;
      font-weight: 100; */
      letter-spacing: -0.05em;
      font-family: Canopee, sans-serif;
      font-size: 60px;
      font-weight: 400;
      line-height: 4.5vw;
    }
    & h3 {
      /* font-family: DomaineDispCondMedium; */
      color: #363636;
      letter-spacing: -0.03em;
      margin-top: 1vw;
      font-size: 35px;
      /* line-height: 3vw; */
      font-weight: 100;
    }
    & h6 {
      /* font-family: EditorialNew-Light; */
      font-size: 20px;
      margin: 20px 0;
      letter-spacing: 0.5px;
    }
  }

  & #elem3 {
    width: 30%;
    height: 100%;

    & #image-div {
      height: 50%;
      width: 100%;
      overflow: hidden;
      border: 0.5px solid black;

      & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all ease 0.5s;
      }
    }

    & h4 {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: canopee;
  
        & span {
          background-color: #b73c12;
          border-radius: 5px;
          padding: 3px;
          color: #fff;
          font-size: 18px;
          font-weight: 100;
          margin-left: 10px;
        }
    }
    & p {
      font-family: EditorialNew-Light;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.1px;
      color: #595959;
    }
  }

  #image-div:hover img {
    scale: 1.2;
  }
}

/* elems dev end*/


    & h1{
        
        font-family: canopee;
        background-color: #1B1B19;
        color: #C2BAB1;
        font-size: 450px;
        text-align: center;
        
    }


}